body{
  margin: 0px auto;
  border: none;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  /* overflow-x: hidden; */
}

.brand-font{
  font-family: 'Teko', sans-serif;
  font-size: 45px;
}

.content{
  margin-top: 130px;
  padding: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.case{
  font-family: 'Lateef', cursive;
  font-size: 42px;
}

.num{
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  font-weight: 500px;
}

.title-font{
  font-family: 'Aldrich', sans-serif;
  font-size: 28px;
}

.new{
  color: #ffa500;
}

.total{
  color: #800000
}

.active{
  color: #088da5;
}

.death{
  color:#ffc3a0;
}

.recover{
  color:#4ca3dd;
}

.tested{
  color:#66cdaa;
}

.critical{
  color:#789704;
}

.population{
  color:#a9f2e5;
}

.new-dashboard,.death-dashboard,.recover-dashboard,.total-dashboard,.active-dashboard,.critical-dashboard,.population-dashboard{
  cursor: pointer;
  padding: 15px;
}

.li-p{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.li-box{
  width:480px;
  
}

.li-box li{
  width:50%;
}

.f-fit{
  font-size: 48px;
}

@media (min-width: 576px) {
.f-fit{
  font-size: 48px;
}
}

@media (min-width: 768px) {
.f-fit{
  font-size: 3vw;
}
}

@media (min-width: 992px) {
.f-fit{
  font-size: 3vw;
}
}

@media (min-width: 1200px) {
.f-fit{
  font-size: 3vw;
}
}