body{
  margin: 0px auto;
  border: none;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  /* overflow-x: hidden; */
}

.brand-font{
  font-family: 'Teko', sans-serif;
  font-size: 45px;
}

.content{
  padding-top: 130px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.table-data{
  margin-top: 130px;
}

.case{
  font-family: 'Lateef', cursive;
  font-size: 42px;
}

.num{
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  font-weight: 500px;
}

.title-font{
  font-family: 'Aldrich', sans-serif;
  font-size: 28px;
}

.new{
  color: #ffa500;
}

.total{
  color: #800000
}

.active{
  color: #088da5;
}

.death{
  color:#ffc3a0;
}

.recover{
  color:#4ca3dd;
}

.tested{
  color:#66cdaa;
}

.critical{
  color:#789704;
}

.population{
  color:#a9f2e5;
}

.new-dashboard,.death-dashboard,.recover-dashboard,.total-dashboard,.active-dashboard,.critical-dashboard,.population-dashboard{
  cursor: pointer;
  padding: 15px;
}

.li-p{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.li-box{
  width:480px;
  
}

.li-box li{
  width:50%;
}

.f-fit{
  font-size: 48px;
}

.hov-btn:hover{
  background: white;
  transition: 0.4s;
  outline: none;
}

.hov-btn{
  width: 80%;
  margin-bottom: 15px;
}

.nav-link:hover{
  color:black !important;
  transition: 0.4s;
}

@media (min-width: 576px) {
.f-fit{
  font-size: 48px;
}
.hov-btn{
  width: 130px;
  margin-bottom: 0px;
}
}

@media (min-width: 768px) {
.f-fit{
  font-size: 3vw;
}
.hov-btn{
  width: 130px;
  margin-bottom: 0px;
}
}

@media (min-width: 992px) {
.f-fit{
  font-size: 3vw;
}
.hov-btn{
  width: 130px;
  margin-bottom: 0px;
}
}

@media (min-width: 1200px) {
.f-fit{
  font-size: 3vw;
}
.hov-btn{
  width: 130px;
  margin-bottom: 0px;
}
}



.select:not(.is-multiple):not(.is-loading)::after {

    border-color:transparent;
    right: 1.125em;
    z-index: 4;
    display: none;
}

#example_ellipsis{
  pointer-events: none;
}

.is-one-half{
  padding-top: 10px !important;
  margin-top: 10px !important;
}

.dd-bx{
  -webkit-box-shadow: 0px 0px 18px 4px rgba(235,232,232,1);
  -moz-box-shadow: 0px 0px 18px 4px rgba(235,232,232,1);
  box-shadow: 0px 0px 18px 4px rgba(235,232,232,1);
}