{% extends 'layout.html' %}
{% block result %}
    <div class="content search container">
      <form action="" method="POST">
        <div class="input-group mb-3 mr-auto" style="width:380px">
          <input type="text" class="form-control" placeholder="Country Name" name='city'>
          <div class="input-group-append">
            <button class="btn btn-outline-green btn-outline-dark" type="submit">Search</button>
          </div>
        </div>     
      </form>      
      <small class="text-muted" style="font-size:17px;">Use '-' character between two words. Eg.South-Korea</small><br>
      <small class="text-muted" style="font-size:17px;">Using lower or upper is okay!</small>
    </div>
  {% if data.result != 0 %}
      <div class="container p-0">
          <p class="mb-4">
            <img src="{{ data.svg }}" alt="" style="width:50px;height:34px" class="">
            <span style="font-size:30px;margin-left:10px;margin-top:-5px;position:absolute;display:inline-block">
              {{ data.country }}
            </span>
          </p>     
          <table class="table table-bordered table-dark mr-auto" style="width:380px;">
            <thead>
              <tr>
                <th scope="col">Population</th>
                <th scope="col">
                  {{ "{:,}".format(data.population) }}
                </th>                 
              </tr>              
            </thead>              
          </table> 
          <p class="brand-font pt-4 pb-1" style="border-bottom:1px solid #cccccc">Today <span style="float:right"><img src="{{ url_for('static',filename='live.gif')}}" alt="" style="width:65px;height:40px"></span></p>
          <div class="row pt-2">            
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="new-dashboard w-100 mx-auto text-center border">
                <p class="case" style="">New Cases</p>
                <p class="num new" style="margin-top:-25px">
                  {% if data.new_cases == None %}
                  {{ 0 }}
                  {% else %}
                  {{data.new_cases}}
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="death-dashboard w-100 mx-auto text-center border">
                <p class="case">Deaths</p>
                <p class="num death" style="margin-top:-25px">                  
                  {% if data.death_today == None %}
                  {{ 0 }}
                  {% else %}
                  {{data.death_today}}
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="active-dashboard w-100 mx-auto text-center border">
                <p class="case">Active Cases</p>
                <p class="num active" style="margin-top:-25px">
                  {% if data.active == None %}
                  {{ 0 }}
                  {% elif data.active >= 1000%}
                  {{ "{:,}".format(data.active) }}
                  {% else %}                
                  {{ data.active }}
                  {% endif %}
                </p>
              </div>
            </div>     

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="recover-dashboard w-100 mx-auto text-center border">
                <p class="case">Recovered Cases</p>
                <p class="num recover" style="margin-top:-25px">
                  0
                </p>
              </div>
            </div>              

          </div>
          <div class="time">
            <small class="text-muted">Updated at {{ data.day }} .</small>
          </div>

          <p class="brand-font pt-4 pb-1" style="border-bottom:1px solid #cccccc">Overall</p>
          <div class="row pt-2"> 
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="total-dashboard w-100 mx-auto text-center border">
                <p class="case">Total Cases</p>
                <p class="num total text-muted" style="margin-top:-25px">
                  {% if data.total == None %}
                  {{ 0 }}
                  {% elif data.total >= 1000%}
                  {{ "{:,}".format(data.total) }}
                  {% else %}                
                  {{ data.total }}
                  {% endif %}                  
                </p>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="critical-dashboard w-100 mx-auto text-center border">
                <p class="case">Critical Cases</p>
                <p class="num critical" style="margin-top:-25px">
                  {% if data.critical == None %}
                  {{ 0 }}
                  {% elif data.critical >= 1000%}
                  {{ "{:,}".format(data.critical) }}
                  {% else %}                
                  {{ data.critical }}
                  {% endif %}
                </p>
              </div>
            </div>     

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="recover-dashboard w-100 mx-auto text-center border">
                <p class="case">Deaths</p>
                <p class="num death" style="margin-top:-25px">
                  {% if data.death_total == None %}
                  {{ 0 }}
                  {% elif data.death_total >= 1000%}
                  {{ "{:,}".format(data.death_total) }}
                  {% else %}                
                  {{ data.death_total }}
                  {% endif %}                  
                </p>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="death-dashboard w-100 mx-auto text-center border">
                <p class="case">Recovered</p>
                <p class="num recover" style="margin-top:-25px">
                  {% if data.recover == None %}
                  {{ 0 }}
                  {% elif data.recover >= 1000%}
                  {{ "{:,}".format(data.recover) }}
                  {% else %}                
                  {{ data.recover }}
                  {% endif %}
                </p>
              </div>
            </div>
          
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
              <div class="total-dashboard w-100 mx-auto text-center border">
                <p class="case">Tested Cases</p>
                <p class="num tested" style="margin-top:-25px">
                  {% if data.total_test == None %}
                  {{ 0 }}
                  {% elif data.total_test >= 1000%}
                  {{ "{:,}".format(data.total_test) }}
                  {% else %}                
                  {{ data.total_test }}
                  {% endif %}                  
                </p>
              </div>
            </div>
          </div>
      </div>
  {% else %}
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">
        <div class="not-found w-100 mx-auto text-center p-4">
            <p class="case">404 | Not found</p>
            <p style="border:1px solid black;width:140px;margin-top:-15px;" class="mx-auto"></p>
            <small class="text-muted" style="font-size:24px;">No result for this query!</small>
        </div>
      </div>
  {% endif %}
{% endblock result %}